Repository mavlink/qgroundcontrol, pull requests merged in 2021-01, with the labels that each got.

#8915 Fix text overlay for recorded videos
  src/VideoManager/SubtitleWriter.cc
  src/VideoManager/SubtitleWriter.h
Labels: Bug, Video Streaming

#9358 Migrated to new Mapbox provider API
  src/QtLocationPlugin/MapboxMapProvider.cpp
  src/QtLocationPlugin/MapboxMapProvider.h
  src/QtLocationPlugin/QGCMapUrlEngine.cpp
Labels: Move to Stable

#9382 Fix double send of MAV_CMD_PREFLIGHT_CALIBRATION
  ChangeLog.md
  src/AutoPilotPlugins/Common/RadioComponentController.cc
Labels: Move to master

#9359 MissionManager: get currentMissionIndex from High_lat messages
  src/MissionManager/MissionManager.cc
  src/MissionManager/MissionManager.h
Labels: Move to Stable

#9361 main.cc: Different runguard names for custom builds
  src/main.cc
Labels: Move to Stable

#9377 joystick: fix crash on app exit
  src/Joystick/Joystick.cc
  src/Joystick/Joystick.h
  src/Joystick/JoystickManager.cc
Labels: Move to Stable
