Repository mavlink/qgroundcontrol, pull requests merged in 2023-03, with the labels that each got.

#10610 fix android udp h264 video record
  src/VideoReceiver/GstVideoReceiver.cc
  src/VideoReceiver/GstVideoReceiver.h
Labels: Review: Needs Review

#10611 [BACKPORT] 4.2 fix android udp h264 video record
  src/VideoReceiver/GstVideoReceiver.cc
  src/VideoReceiver/GstVideoReceiver.h
Labels: Review: Needs Review

#10589 FactMetaData: Fix default for decimal places
  src/FactSystem/FactMetaData.cc
Labels: Priority: Critical, Review: Needs Review

#10584 Lower scroll speed
  src/QmlControls/QGCFlickable.qml
Labels: Module: CI/CD, Review: Sanity Checked, Release: v4.3

#10604 Show stock image as background when Waiting For Video
  qgcresources.qrc
  resources/NoVideoBackground.jpg
  src/FlightDisplay/FlightDisplayViewVideo.qml
Labels: Review: Needs Attention, Release: v4.3
