Repository mavlink/qgroundcontrol, pull requests merged in 2025-09, with the labels that each got.

#13400 Sign, Notarize and Staple Mac app bundle
  .github/workflows/macos.yml
  cmake/install/Install.cmake
  cmake/install/SignMacBundle.cmake
  docs/en/qgc-dev-guide/getting_started/index.md
Labels: RN: MAJOR FEATURE

#13407 Setup for automatic release notes
  .github/release.yml
  docs/en/qgc-dev-guide/contribute/pull_requests.md
Labels: RN: IMPROVMENT

#13406 Sign, Notarize and Staple Mac app bundle
  .github/workflows/macos.yml
  cmake/CreateMacDMG.cmake
  cmake/Install.cmake
  cmake/SignMacBundle.cmake
  docs/en/qgc-dev-guide/getting_started/index.md
Labels: RN: MAJOR FEATURE

#13419 Gimbal Indicator: Close popup after selecting gimbal command, Only show gimbal command if supported
  src/Gimbal/Gimbal.cc
  src/Gimbal/Gimbal.h
  src/Gimbal/GimbalController.cc
  src/Gimbal/GimbalController.h
  src/UI/toolbar/GimbalIndicator.qml
Labels: RN: IMPROVMENT, RN: BUGFIX

#13192 Vehicle: Minor Telemetry Fixes
  src/Vehicle/FactGroups/VehicleDistanceSensorFactGroup.cc
Labels: stale

#13431 Plan: Lower minimum transect spacing to 0.3 meters
  src/MissionManager/CorridorScanComplexItem.cc
  src/MissionManager/SurveyComplexItem.cc
  src/MissionManager/TransectStyleComplexItem.h
Labels: RN: IMPROVEMENT
